<template>
    <div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex justify-content-between" style="background-color: #e3f2fd;">
                <h1>Create</h1>
                <router-link class="align-self-center btn btn-success" :to="'/main'">Back</router-link>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <form>
                        <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input v-model="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input v-model="phone" type="number" class="form-control" id="phone" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input v-model="address" type="text" class="form-control" id="address" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <input v-model="position" type="text" class="form-control" id="position" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="salary" class="form-label">Salary</label>
                        <input v-model="salary" type="number" class="form-control" id="salary" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="skills" class="form-label">Skills</label>
                        <input v-model="skills" type="text" class="form-control" id="skills" aria-describedby="emailHelp">
                      </div>
                      <button type="button" @click="create" class="btn btn-primary">Create</button>
                    </form>
                    <div v-if="error" class="mt-4">
                        <p style="color:red;">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
    </div>

</template>

<script>
export default {
    name: "employee",
    data() {
        return {
            name: '',
            email: '',
            phone: '',
            address: '',
            position: '',
            salary: 0,
            skills: '',
            error: '',
        };
    },
    mounted() {

    },
    methods: {
        create(){
            if(this.fieldsValidation()){

                let data = {
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    address: this.address,
                    position: this.position,
                    salary: this.salary,
                    skills: this.skills,
                }

                this.axios.post(`/api/employee/`, data).then(response => {
                    if(response.status == 200) {
                        this.$router.back();
                    }
                }).catch(error => {
                    this.error = 'Email duplicado';
                })
            }
        },
        fieldsValidation(){
            if(
               this.salary > 0 && this.phone > 0 && this.name && this.email && this.phone && this.address && this.position && this.salary && this.skills
            ){
                return true;
            }
            this.error = 'Complete los campos';
            return false;
        }
    },
};
</script>
