<template>
    <div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-flex justify-content-between" style="background-color: #e3f2fd;">
                <h1>Details</h1>
                <router-link class="align-self-center btn btn-success" :to="'/main'">Back</router-link>
            </div>
            <div class="d-flex justify-content-center">
                <div v-if="employee" class="d-flex flex-column mt-4">
                    <h4>Name: {{ employee.name }}</h4>
                    <h4>Email: {{ employee.email }}</h4>
                    <h4>Phone: {{ employee.phone }}</h4>
                    <h4>Address: {{ employee.address }}</h4>
                    <h4>Position: {{ employee.position }}</h4>
                    <h4>Salary: {{ employee.salary }}</h4>
                    <h4>Skills: {{ employee.skills }}</h4>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
    </div>

</template>

<script>
export default {
    name: "employee",
    data() {
        return {
            employee: null,
        };
    },
    mounted() {
        this.mostrar();
    },
    methods: {
        filterEmail(){

        },
        mostrar() {
            this.axios
                .get("/api/employee/"+this.$route.params.id,
                {
                    headers: { "Accept": "application/json"}
                })
                .then((response) => {
                    this.employee = response.data;
                })
                .catch((error) => {
                    console.log(error.message);
                });
        },
    },
};
</script>
