<template>
    <div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <div class="d-flex justify-content-between" style="background-color: #e3f2fd;">
                <h1>Employees</h1>
                <router-link class="align-self-center btn btn-success" :to="'/create'">Create</router-link>
            </div>
            <div class="d-flex" v-if="employees.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Position</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee in employees" :key="employee.id">
                            <th>{{ employee.name }}</th>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.position }}</td>
                            <td>{{ employee.salary }}</td>
                            <td><router-link class="align-self-center btn btn-primary" :to="'/details/'+employee.id">Details</router-link></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="!employees.length" class="d-flex justify-content-center">
                <h1 class="mt-4">No hay datos para mostrar</h1>
            </div>
        </div>
        <div class="col-4">
            <h1>Filters</h1>
            <div style="border: 2px solid black" class="pb-4">
                <div class="mb-3 p-4">
                    <label for="email" class="form-label">Email</label>
                    <input v-model="email" type="email" class="form-control" id="email">
                    <div class="mt-2">
                        <button @click="load" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <div id="emailHelp" class="form-text">Para refrescar la tabla, busque en vacio</div>
            <div style="border: 2px solid black" class="pb-4 mt-3">
                <div class="mb-3 p-4">
                    <span class="mb-2">Salarial range</span>

                    <div class="d-flex">
                        <input v-model="min" type="number" class="form-control" placeholder="Min">
                        <input v-model="max" type="number" class="form-control" placeholder="Max">
                    </div>
                    <div class="mt-2">
                        <button @click="load" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <div id="emailHelp" class="form-text">Para refrescar la tabla, busque en vacio</div>
        </div>
    </div>
    </div>

</template>

<script>
export default {
    name: "employee",
    data() {
        return {
            employees: [],
            email: '',
            min: '',
            max: ''
        };
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.axios
                .get(`api/employee?from=${this.min}&to=${this.max}&email=${this.email}`)
                .then((response) => {
                    this.employees = response.data;
                    this.email = '';
                    this.min = '';
                    this.max = '';
                })
                .catch((error) => {
                    console.log(error.message);
                });
        },
    },
};
</script>
