<template>
    <main>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><b>Developer SAS</b></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="'/main'"
                                >Main</router-link
                            >
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="'/create'"
                                >Create</router-link
                            >
                        </li>
                    </ul> -->

                </div>
            </div>
        </nav>
        <div class="d-flex mt-4">
            <router-view></router-view>
        </div>
    </main>
</template>
